Intersection of two arrays

In [7]:
def intersection( nums1, nums2):
       set1=set(nums1)
       set2=set(nums2)
       return list(set1.intersection(set2))

In [8]:
intersection([1,2,3,2],[4,2,3,2])

[2, 3]

Rat count House

In [18]:
def ratcount(r,unit,arr,n):
    if n ==0:
        return -1
    totalfoodrequired=r*unit
    foodTillNow=0
    for house in range(n):
        foodTillNow+=arr[house]
        if foodTillNow>=totalfoodrequired:
            break
    if totalfoodrequired>foodTillNow:
        return 0
    return house+1

In [24]:
ratcount(arr=[2,8,3,5,7,4],n=8,r=7,unit=4)

6

Find the factors of the given number and print their num in a list
input=12
out=[1,2,3,4,6,12]

In [32]:
 def factors(num):
     fac = []
     for i in range(1, (num + 1)):
           if num%i == 0:
               fac.append(i)
     return fac

In [33]:
factors(12)

[1, 2, 3, 4, 6, 12]

#List comprehension

In [40]:
def fact(num):
    if num <=0:
        return 0
    mylist=[i for i in range(1,num+1) if num%i==0]
    return mylist

In [41]:
fact(12)

[1, 2, 3, 4, 6, 12]

Reverse a string using stack/array

In [6]:
class mystack:
    def __init__(self):
        self.st=[]
    def revstr(self,mystr):
        result=''
        for i in mystr:
            self.st.append(i)
        for i in range(len(self.st)):
            poped=self.st.pop()
            result=result+poped
        return result

In [7]:
B=mystack()
B.revstr("school")

'loohcs'

Find the Missing Number:

In [17]:
def missingnum(arr):
    for i in range (1,arr[-1]+1):
        if i not in arr:
            return i*'*'

In [18]:
arr=[1,2,3,4,5,6,8,10]
missingnum(arr)

'*******'

Excel Sheet Column Number

In [22]:
ord('A')

65

In [23]:
ord('B')-64

2

In [24]:
def col(name):
    result=0
    for i in name:
        result=result*26+ord(i)-64
    return result

In [25]:
col('AAA')

703

Demonstrate ATM Functions:
Get the name,fetch the pin from dictionary,if pin matches proceed or print "Invalid pin" and quit the program.
option 1:withdrawal
option 2:Deposit
option 3:Balance enquiry
option 4:Offers on FD
option 5:change atm pin
option 6:Quit

In [ ]:
pins={"Akshatha":4555,"Ani":7893,"Kavya":0011,"Abhi":8585,"Ajith":7676}
bal={"Akshatha":5000,"Ani":8000,"Kavya":3000,"Abhi":100,"Ajith":50}

In [1]:
def atm():
    pins={"Akshatha":"4555","Ani":"7893","Kavya":"1511","Abhi":"8585","Ajith":"7676"}
    bal={"Akshatha":5000,"Ani":8000,"Kavya":3000,"Abhi":100,"Ajith":50}
    name=input("Enter your name:")
    pin=input("Enter your pin:")
    if pins[name]!=pin:
        return "invalid pin"
    while True:
        choices="Option 1:withdrawal\n Option 2:Deposit\n Option 3:Balance enquiry\n Option 4:Offers an FD\n 5:Option 6:quit"
        print(choices)
        choice=int(input("enter choice:"))
        if choice==1:
            print("withdrawal")
            w=int(input("Enter the withdrawal amount:"))
            if w>bal[name]:
                print("Insufficient balance")
            else:
                bal[name]=bal[name]+d
        elif choice==2:
            print("Deposit")
            d=int(input("Enter the deposit amount:"))
            bal[name]=bal[name]+d
        elif choice==3:
            print("Your current balance is:",bal[name])
        elif choice==4:
            print("FD rates or high if you lock 1L for 5 years")
        elif choice==5:
            newpin=input("Enter your pin:")
            pins[name]=newpin
            print("pin updated")
        elif choice==6:
            break

In [2]:
atm()

Enter your name: Akshatha
Enter your pin: 4555

Option 1:withdrawal
 Option 2:Deposit
 Option 3:Balance enquiry
 Option 4:Offers an FD
 5:Option 6:quit

enter choice: 2

Deposit

Enter the deposit amount: 60000

Option 1:withdrawal
 Option 2:Deposit
 Option 3:Balance enquiry
 Option 4:Offers an FD
 5:Option 6:quit

enter choice: 3

Your current balance is: 65000
Option 1:withdrawal
 Option 2:Deposit
 Option 3:Balance enquiry
 Option 4:Offers an FD
 5:Option 6:quit

enter choice: 4

FD rates or high if you lock 1L for 5 years
Option 1:withdrawal
 Option 2:Deposit
 Option 3:Balance enquiry
 Option 4:Offers an FD
 5:Option 6:quit

enter choice: 5
Enter your pin: 4656

pin updated
Option 1:withdrawal
 Option 2:Deposit
 Option 3:Balance enquiry
 Option 4:Offers an FD
 5:Option 6:quit

enter choice: 6

In [5]:
bal={"Akshatha":5000,"Ani":8000,"Kavya":3000,"Abhi":100,"Ajith":50}
print(bal["Akshatha"])

5000

Removing Nth Node from Linked List

In [25]:
class linkedlist:
    class Node:
        def __init__(self,data):
            self.data=data
            self.next=None
    def __init__(self):
        self.head=None
    def insertbegg(self,data):
        newnode=linkedlist.Node(data)
        newnode.next=self.head
        self.head=newnode
    def traverse(self,current):
        current=self.head
        while current:
            print(current.data,end="-->")
            current=current.next
        print(None)
    def nodefromrev(self,n):
        count=0
        current=self.head
        while current:
            count=count+1
            current=current.next
        if count==n:
            return self.head.next
        ptr1=self.head
        for _ in range(count-n-1):
            ptr1=ptr1.next
        ptr1.next=ptr1.next.next

In [26]:
LL=linkedlist()
LL.insertbegg(60)
LL.insertbegg(50)
LL.insertbegg(70)
LL.insertbegg(80)
LL.insertbegg(50)

In [27]:
LL.traverse(linkedlist)

50-->80-->70-->50-->60-->None

In [30]:
LL.nodefromrev(3)

In [31]:
LL.traverse(linkedlist)

50-->80-->50-->60-->None